*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.scene{
    perspective: 400px;
}
.box:hover{
    transform: rotateY(-200deg);
}
.box{
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
}
.face{
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    color: #fff;
    /* backface-visibility: hidden; */
}
.top-face{
    background-color: rgba(255, 0, 0, .7);
    transform: translateY(-100px) rotateX(90deg);
}
.bottom-face{
    background-color: rgba(0, 128, 0, .7);
    transform: translateY(100px) rotateX(270deg);
}
.left-face{
    background-color: rgba(128, 128, 128, .7);
    transform: translateX(-100px) rotateY(90deg);
}
.right-face{
    background-color: rgba(255, 192, 203, .7);
    transform: translateX(100px) rotateY(90deg);
}
.back-face{
    background-color: rgba(223, 220, 93, .7);
    transform: translateX(00px) translateZ(-100px)  rotateY(180deg);
}
.front-face{
    background-color: rgba(149, 93, 223, .7);
    transform: translateX(0px) translateZ(100px);
}